.header {
    width: 100%;
    max-width: 200%;
    min-width: 1366px;
    height: 70px;
    background-color: rgb(252, 85, 85);
}
.header-wrapper {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    line-height: 70px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}
.top-func {
    display: flex;
    width: 500px;
    padding: 0 50px;
    justify-content: space-around;
}