.playlist-wrapper {
    padding: 0 50px;
}
.playlist-header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-items: center;
}
.playlist-info {
    padding: 0 50px;
}
.playlist-img {
    width: 200px;
    height: 200px;
}
